body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image:url(images/1.jpg);
    text-align: center;
}

header {
    background-color: rgb(155, 131, 99);
    color:#7c161285;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

 a:hover {
    text-decoration: none;
    text-align: center;
    color: #7c161285;
}
h2 , p {
    color: #f2f2f2;
    text-align: center;
}
h3 {
    color:white;
    text-align: center;
    font-size: 40px;
}
h4 {
    color:black;
    text-align: center;
    font-size:20px;
}
.container {
    margin: 20px auto;
    background-color:transparent;
    padding: 20px;
    text-align: center;
}

input {
    display: block;
    margin: 10px 20px;
    padding:   15px 25px;
    width: 450px;
    box-sizing: border-box;
    text-decoration: none;
    color: #d6181285;
    font-size: 20px;
    background-color: transparent;
}

.in {
    text-align: center;
    justify-content: center;
    margin-left: 430px;
}
img {
    max-width: 100px;
    border-radius: 20px;
}

.produit {
    display: inline-block;
    width: 30px;
    margin: 10px;
    vertical-align: top;
    text-align: center;
}

.produit img {
    width: 300px;
    height: auto;
}

.pdt {
    display: inline-block;
    width: 500px;
    margin: 150px;
    vertical-align: top;
    text-align: center;
}

.pdt img {
    width: 1500px;
    height: auto;
}

footer {
 	background-color: rgb(155, 131, 99);
 	color: rgb(67, 243, 234);
 	text-align: center;
 	padding: 10px;
 }

 /* button */
.btn {
    width: 240px;
    height: 40px;
    background:#7c161285;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color:white;
    transition: 0.4s ease;
    align-items: center;
    text-align: center;
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#7c161285;
    left: 0;
    top: 0;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color:#7c161285;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 25px;
}

button:hover {
    background-color:#7c161285;
}



.produit {
    display: inline-block;
    width: 100px;
    margin: 10px;
    vertical-align: top;
    text-align: center;
}

.produit img {
    margin-left: 25px;
    width: 900px;
    height: 280px;
}

.hero {
  display: inline-block;
    width: 500px;
    margin: 10px;
    vertical-align: top;
    text-align: center;
}

.hero img {
    max-width: 500px;
    width: 1300px;
    height: 450px;
}

.btp {
    width: 150px;
    height: 30px;
    background:transparent;
    border: none;
    margin-top: 0px;
    border-radius: 8px;
    outline: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
    color:white;
    transition: 0.4s ease;
    align-items: center;
    text-align: center;
    margin-left: 0px;
}
.btp::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
    text-align: center;
    margin-left: 0px;
}

button {
    background-color:transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0px;
}

button:hover {
    background-color:transparent;
}
